.tree-view {
    -fx-padding: 3 3 3 3;
}

.tree-cell {
    -fx-cell-size: 30px;
}

.sql-editor {
    -fx-padding: 3 3 3 3;
}

.table-result {
    -fx-padding: 3 3 3 3;
}


.status-bar {
    -fx-padding: 5;
    -fx-background-color: #f0f0f0;
}

